.previewviewproject1:hover > .previewproject1,
.previewviewproject2:hover > .previewproject2,
.previewviewproject3:hover > .previewproject3,
.previewviewproject4:hover > .previewproject4,
.previewviewproject5:hover > .previewproject5,
.previewviewproject6:hover > .previewproject6{
	opacity: 0.9 !important;
}
.mainproject{
	display: inline-block;
}
.mainprojectresponsive{
	display: none
}





/*responsive site*/
@media only screen and (max-width:750px){
	.mainwhohaijai, .maingoodhaijai, .mainactivityhaijai{
		min-height: 300px !important;
	}
	.mainproject{
		display: none;
	}
	.mainprojectresponsive{
		display: inline-block;
	}
	.mainwhohaijai .col-sm-12, .maingoodhaijai .col-sm-12, .mainactivityhaijai .col-sm-12{
		padding-top: 2%;
	}
	
    .whohaijaiimg img,.goodhaijaiimg img,.activityimg img{
    	display: none;
    }

}

/*mobile site*/
@media only screen and (max-device-width:750px){
	/*
	.firstpage .col-sm-12{
		padding-top: 100px !important;
	}
	.firstpage .col-sm-12 span{
		padding-top: 100px !important;
		font-size:100 !important;
	}

	.mainwhohaijai .col-sm-12 .col-sm-6, .maingoodhaijai .col-sm-12 .col-sm-6, .mainactivityhaijai .col-sm-12 .col-sm-6{
		width:100%;
	}
	.mainwhohaijai .col-sm-12 .col-sm-6 span{
		font-size:100px;
	}

	.mainproject{
		display: none;
	}
	.mainprojectresponsive{
		display: inline-block;
	}
	.mainwhohaijai .col-sm-12, .maingoodhaijai .col-sm-12, .mainactivityhaijai .col-sm-12{
		padding-top: 2%;
	}
	
    .whohaijaiimg img,.goodhaijaiimg img,.activityimg img{
    	display: none;
    }


    .mainprojectresponsive #carousel-example-generic .carousel-inner .item .col-sm-4{
    	width:100% !important;
    	height:100% !important;
    }
    */

}