
  <head>

    
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>

      เกี่ยวกับ Haijai
    </title>
    
    <link href="http://localhost/haijai/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="http://localhost/haijai/assets/css/firstpage.css" rel="stylesheet" media="screen">  
  <link href="http://localhost/haijai/assets/css/overviewpage.css" rel="stylesheet" media="screen">
  <link href="http://localhost/haijai/assets/css/detailprojectfund.css" rel="stylesheet" media="screen">
    

      <link rel="stylesheet" href="http://localhost/haijai/assets/css/font-awesome-4.4.0/css/font-awesome.min.css">
      <script src="http://localhost/haijai/assets/javascript/jquery2.0.min.js"></script>
      <script src="http://localhost/haijai/assets/bootstrap/js/bootstrap.min.js"></script>


    <style type="text/css">



    </style>
  
   
  </head>




    <!-- Docs page layout -->
   
    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
        

          <!-- History ================================================== -->
          <div class="bs-docs-section">
            <h1 id="history" class="page-header">เกี่ยวกับเรา</h1>

            <p class="lead">เรามุ่งมั่นในการสร้างบริการเพื่อสร้างสรรค์สังคม ลดช่องว่างของการทำดี ให้ทุกคนได้มีส่วนร่วมอย่างทั่วถึง ด้วยเทคโนโลยีที่ทันสมัยและปลอดภัยอยู่ตลอดเวลา</p>

            <p>Bootstrap was created at Twitter in mid-2010 by <a href="https://twitter.com/mdo">@mdo</a> and <a href="https://twitter.com/fat">@fat</a>. Prior to being an open-sourced framework, Bootstrap was known as <em>Twitter Blueprint</em>. A few months into development, Twitter held its <a href="https://blog.twitter.com/2010/hack-week">first Hack Week</a> and the project exploded as developers of all skill levels jumped in without any external guidance. It served as the style guide for internal tools development at the company for over a year before its public release, and continues to do so today.</p>
            <p>Originally <a href="https://blog.twitter.com/2011/bootstrap-twitter">released</a> on <a href="https://twitter.com/mdo/statuses/104620039650557952"><time datetime="2011-08-19 11:25">Friday, August 19, 2011</time></a>, we've since had over <a href="https://github.com/twbs/bootstrap/releases">twenty releases</a>, including two major rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it responsive by default with a mobile first approach.</p>
          </div>


         </div>
       </div>
   </div>

<!-- Placed at the end of the document so the pages load faster -->

