
  <head>

    
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>

      นโยบายของเรา
    </title>
    
    <link href="http://localhost/haijai/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="http://localhost/haijai/assets/css/firstpage.css" rel="stylesheet" media="screen">  
  <link href="http://localhost/haijai/assets/css/overviewpage.css" rel="stylesheet" media="screen">
  <link href="http://localhost/haijai/assets/css/detailprojectfund.css" rel="stylesheet" media="screen">
    

      <link rel="stylesheet" href="http://localhost/haijai/assets/css/font-awesome-4.4.0/css/font-awesome.min.css">
      <script src="http://localhost/haijai/assets/javascript/jquery2.0.min.js"></script>
      <script src="http://localhost/haijai/assets/bootstrap/js/bootstrap.min.js"></script>


    <style type="text/css">



    </style>
  
   
  </head>




    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
        

          <!-- History ================================================== -->
          <div class="bs-docs-section">
            <h1 id="history" class="page-header">นโยบายความเป็นส่วนตัว</h1>
            <ol>
              <li>
                <p class="lead">สิทธิ์ในการเข้าถึงข้อมูล</p>
              
                <p>ข้อมูลส่วนบุคคลและช่องทางการติดต่อสื่อสารที่ท่านได้ให้หรือใช้ ผ่านระบบ Kaidee.com และ Kaidee.com ได้รวบรวมไว้ทั้งหมดนั้น ท่านยอมรับ อนุญาต และตกลงว่า เป็นสิทธิและกรรมสิทธิของ Kaidee.com และ Kaidee.com สามารถใช้ช่องทางในการติดต่อสื่อสารดังกล่าว เพื่อจัดส่งข้อมูลหรือติดต่อสื่อสารกับท่านได้</p>
              </li>

              <br/>
              <li>
                <p class="lead">เปลี่ยนแปลงและแก้ไขรายละเอียด</p>
              
                <p>หากท่านประสงค์จะเปลี่ยนแปลงแก้ไขข้อมูลส่วนบุคคลหรือช่องทางการติดต่อสื่อสารในส่วนที่อยู่และหมายเลขโทรศัพท์ ท่านสามารถแก้ไขได้ด้วยตนเองในเมนูมุมสมาชิก แต่หากท่านประสงค์จะเปลี่ยนแปลงแก้ไขข้อมูลส่วนบุคคลอื่นๆ ท่านสามารถติดต่อแผนกลูกค้าสัมพันธ์เพื่อแจ้งเปลี่ยนแปลงข้อมูลสมาชิกเป็นการเฉพาะ</p>
              </li>

              <br/>
              <li>
                <p class="lead">การรับข่าวสาร</p>
              
                <p>เมื่อท่านสมัครสมาชิก ท่านสามารถเลือกรับหรือไม่รับข่าวสารจาก Kaidee.com ผ่านช่องทางการติดต่อสื่อสารที่ท่านให้ไว้กับ Kaidee.com ได้ ทั้งนี้ ในกรณีที่ท่านเลือกรับข่าวสารและต่อมาไม่ต้องการรับข่าวสาร ท่านสามารถยกเลิกการรับข่าวสาร (Unsubscribe) ได้จากอีเมล์ข่าวสารที่ได้รับ หรือจากเมนูแก้ไขข้อมูลในมุมสมาชิก</p>
              </li>
           
              <br/>
              <li>
                <p class="lead">การรับข่าวสาร</p>
              
                <p>เมื่อท่านสมัครสมาชิก ท่านสามารถเลือกรับหรือไม่รับข่าวสารจาก Kaidee.com ผ่านช่องทางการติดต่อสื่อสารที่ท่านให้ไว้กับ Kaidee.com ได้ ทั้งนี้ ในกรณีที่ท่านเลือกรับข่าวสารและต่อมาไม่ต้องการรับข่าวสาร ท่านสามารถยกเลิกการรับข่าวสาร (Unsubscribe) ได้จากอีเมล์ข่าวสารที่ได้รับ หรือจากเมนูแก้ไขข้อมูลในมุมสมาชิก</p>
              </li>
              
            </ol>


          </div>


         </div>
       </div>
   </div>
   

<!-- Placed at the end of the document so the pages load faster -->

